.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(238, 238, 238);
    padding-top: 60px;
    box-shadow: inset 0 0 2px gray;
}
.sidebar ul{
    margin: 0;
    padding: 0;
}
.sidebar li a{
    list-style: none;
    text-decoration: none;
    display: block;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 5px 0 5px 10px;
    border-radius: 5px 0 0 5px;
}
.sidebar ul li a:hover{
    text-decoration: none;
    background-color: rgb(24, 23, 23);
    color: #fff;
    display: block;
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 5px 0 5px 10px;
    border-radius: 5px 0 0 5px;
}
/* .sidebar ul li a.active{
    background-color: #333;
    color: #fff;
} */
